* {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
    color: white;
    font-family: 'Kalam', cursive;
    height: 99wh;
}

a {
    color: whitesmoke;
    font-size: 1.2rem;
}

h1,
h2 {
    text-align: center;

}

.sem {
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 15px;
    margin: 10px 0;
}

.sem-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: 20px 0px;
}

.sem-container>div {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .sem-container {
        grid-template-columns: 1fr;
    }    
}

@media only screen and (min-width: 800px) {
    .sem-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1000px) {
    .sem-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    background-color: rgba(255, 255, 255, 0.21);
    text-align: center;
}



/* ************************************** Accordion ***************************** */
/* Style the buttons that are used to open and close the accordion panel */
.ac {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 15px;
    outline: none;
    transition: 0.4s;
    margin: 10px 0;
    font-family: 'Kalam', cursive;
    font-size: 1.4rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.ac:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.151);
    display: none;
    overflow: hidden;
}